.ProductView {
  height: 60vh;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 82rem;
}
.image {
  width: 25rem;
  height: 25rem;
  margin-top: 2rem;
  border: 2px solid white;
}
.Details {
  display: flex;
  position: fixed;
  left: 4rem;
}

.data {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-top: 2rem;
}
.Cart {
  padding: 8px 8px 8px;
  border-radius: 5px;
  background-color: skyblue;
  color: black;
  font-weight: 700;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  width: 10rem;
}
